body
{
	background-image: url("img/background.jpg");
}

#header /*Styles for Header*/
{
	padding: 2px;
	color: white;
	font-family: Arial, Verdana, sans-serif;
  font-size: 12px;
	background-color: black	;
	text-align: center;
}

.navbar
{
	background: transparent;
	border-style: solid;
	border-width: 2px;
	overflow: hidden;
}

.navbar a
{
	float: left;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-family: Roboto, Verdana, sans-serif;
	text-align: center;
	padding: 15px 15px;
	font-size: 17px;
}

.navbar a:hover
{
	background-color: black;
	border: 2px solid white;
	color: white;
}

#content /*Styles for Main Content area*/
{
	padding:10px;
	font-family: Helvetica, Verdana, sans-serif;
  font-size: 16px;
	color: white;
	background-color: black;
}
